<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6vc59nC5FA6XQ-LX74NbX6RH27s4uFVk</string>
	<key>GCM_SENDER_ID</key>
	<string>866093556880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalCimming</string>
	<key>PROJECT_ID</key>
	<string>tugas-water-level</string>
	<key>STORAGE_BUCKET</key>
	<string>tugas-water-level.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866093556880:ios:3460e8f2bef1700cdb6415</string>
	<key>DATABASE_URL</key>
	<string>https://tugas-water-level-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>